<ion-view view-title="Dados do Terreno">
  <ioncontent>
  <br/><br/><br/>
    <div class="card">
      <div id="home-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">O aplicativo Cidadão Online, foi desenvolvido por alunos do 3º ano de Sistemas de Informação, junto com a Prefeitura Municipal de Franca-SP. O principal objetivo dessa aplicação é facilitar a vida do cidadão francano para que possa realizar solicitações
          referentes a limpezas de terrenos vizinhos (mato alto, entulhos e animais peçonhentos).</p>
      </div>
    </div>
  </ioncontent>                
</ion-view>

<!--
<div class = "card">

      <ion-item class = "item-text-wrap" menu-close href="#/app/enviarImagem">
        <button class="button button-dark button-block" href="#/app/enviarImagem">Próximo</button>
      </ion-item>

      <ion-item class = "item-text-wrap" menu-close href="#/app/home">
        <button class="button button-assertive button-block" href="#/app/home">Cancelar</button>
      </ion-item>
    </div>

    <ion-view title="Versão" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="versO-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Este aplicativo se encontra na versão beta</p>

      <p style="color:#000000;">-Versão atual 0.1.0</p>
    </div>
  </ion-content>
</ion-view>


