<ion-view view-title="Welcome">
  <ioncontent>

    <br/>
    <br/>
    <br/>

    <h3 align="center"> Cidadão Online</h3>

    <br/>
    <br/>

    <div class="card">
      <ion-item menu-close href="#/app/dadosSolicitante">
        <button class="button button-icon icon ion-paper-airplane button-block" href="#/app/dadosSolicitante">CADASTRAR NOVA SOLICITAÇÃO</button>
      </ion-item>
    </div>

    <div class="card">
      <ion-item menu-close href="#/app/buscarSolicitacoes">
        <button class="button button-icon icon ion-search button-block" href="#/app/buscarSolicitacoes">VERIFICAR SOLICITAÇÃO</button>
      </ion-item>
    </div>

  </ioncontent>
</ion-view>