<ion-view title="Realizar Solicitação" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="realizarSolicitaO-form1" class="list">
      <label class="item item-input item-stacked-label" id="realizarSolicitaO-input1">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input item-stacked-label" id="realizarSolicitaO-input2">
        <input type="text" placeholder="Sobrenome">
      </label>
      <label class="item item-input item-stacked-label" id="realizarSolicitaO-input3">
        <input type="number" placeholder="RG">
      </label>
      <label class="item item-input item-stacked-label" id="realizarSolicitaO-input4">
        <input type="text" placeholder="CPF">
      </label>
      <label class="item item-input item-stacked-label" id="realizarSolicitaO-input5">
        <input type="text" placeholder="Telefone">
      </label>
      <label class="item item-input item-stacked-label" id="realizarSolicitaO-input6">
        <input type="text" placeholder="E-Mail">
      </label>
      <label class="item item-select" id="realizarSolicitaO-select1">
        <span class="input-label">Receber E-mail?</span>
        <select>
          <option>NÃO</option>
          <option>SIM</option>
        </select>
      </label>
      <a ui-sref="menu.realizarSolicitaOImVel()" id="realizarSolicitaO-button3" class="button button-positive button-block">Próximo</a>
    </form>
  </ion-content>
</ion-view>