<ion-view title="Imagem e Local" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="imagemELocal-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="imagemELocal-list-item-container2">
        <div id="imagemELocal-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Foto do Imóvel</p>
        </div>
      </div>
    </div>
    <ion-item class = "item-text-wrap" menu-close href="#/app/playlists">
        <button class="button button-dark button-block" href="#/app/home">Confirmar e Enviar</button>
    </ion-item>
    <ion-item class = "item-text-wrap" menu-close href="#/app/playlists">
        <button class="button button-assertive button-block" href="#/app/home">Cancelar</button>
    </ion-item>
  </ion-content>
</ion-view>