<ion-view>
    <ion-content>
    	<ion-item class = "item-text-wrap" menu-close href="#/app/home">
            <button class="button button-dark button-block" href="#/app/home">Usar meu local atual</button>
          </ion-item>
          <ion-item class = "item-text-wrap" menu-close href="#/app/home">
            <button class="button button-assertive button-block" href="#/app/home">Cancelar e utilizar CEP</button>
          </ion-item>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
