<ion-view view-title="Patrocinadores">
  <ion-content>   

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/facef.jpg" class="img-logo"/>
    </div>

    <h3 align="center"> Patrocinadores</h3>


    <br/>

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/prefeitura.png" class="img-profile"/>
    </div>

    <br/>

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/aion.png" class="img-profile"/>
    </div>

    <br/>

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/chb.png" class="img-profile"/>
    </div>

    <br/>

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/eddydata.jpg" class="img-profile"/>
    </div>

    <br/>

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/ernetwork.png" class="img-profile"/>
    </div>

    <br/>

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/irroba.jpg" class="img-profile"/>
    </div>

    

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/jrti.png" class="img-profile"/>
    </div>

    <br/>

    <div class = "card-radius" align="center">
        <img src="img/patrocinadores/smn.png" class="img-profile"/>
    </div>
  </ion-content>
</ion-view>

